.bar {
    margin: 0;
    
    background-color: #5b5858d1;
    position: fixed;
    top: 5px;

    right: 5px;
    left: 5px;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
  }

li{
    list-style: none;
  }



.userButton{
    margin: 8px;
    height: 55px;

    background-color: red;

    display: flex;
    flex-direction: column;

    align-content: flex-end;

}
.user {
    cursor: pointer;
    display: flex;
    align-content: flex-end;
    text-align: center;
}

.home {
    background-color: rgb(208, 206, 206);
    color: black;
    float: left;
    width: 75px;
    height: 45px;
    margin: 8px;
    justify-content: center;
    text-align: center;
    line-height: 45px;
    font-size:x-large
}


.hidden{
    display: none
}
.profile-dropdown{
    background-color: rgb(233, 236, 230);
    position: relative;

    height: 80px;
    padding: 5px;
    text-align: right;
    width: 100px;
    margin: 10px 0px 0px auto;
}

.login{
    float: right;
}
.enter{
    background-color: rgb(208, 206, 206);
    color: black;
    width: 100px;
    margin: 4px;
    padding: 3px;
    box-shadow: 2px 5px 5px red;


}

.title{
    font-size: x-large;
}
